In [2]:
import pandas as pd

In [28]:
train = pd.read_csv("./data/train.tsv", sep="\t", index_col=0)
test = pd.read_csv("./data/test.tsv", sep="\t", index_col=0)
sample_submit = pd.read_csv("./data/sample_submit.tsv", sep="\t", index_col=0, header=None)

In [34]:
train.head()

    survived  pclass     sex   age  sibsp  parch     fare embarked
id
3          1       1  female  35.0      1      0  53.1000        S
4          0       3    male  35.0      0      0   8.0500        S
7          0       3    male   2.0      3      1  21.0750        S
9          1       2  female  14.0      1      0  30.0708        C
11         1       1  female  58.0      0      0  26.5500        S